<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">panel de control</h1>
    </div>
</nav>
<br>
<br>
<br>
<div  class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Gestion de Usuarios</h5>
      <a  href="" [routerLink]="['/usuarios']" class="btn btn-primary">Go Usuarios</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Gestion de areas</h5>
      <a  class="btn btn-primary">Go areas </a>
    </div>
  </div>
